apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wompis-test-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Wompipomp/wompis-argocd.git
    targetRevision: HEAD
    path: app
  destination:
    server: https://kubernetes.default.svc
    namespace: wompis-app
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true

    